<div class="user">
    <h3>
      Users Management |
      <div class="search-container">  <img src="https://tse1.mm.bing.net/th?id=OIP.TmL48Z93h3HAn8JZfawh1gHaFj&pid=Api&P=0&h=180" alt="Search" class="search-icon">  <input type="text" class="search-input" placeholder="Search users...">
      </div>
      <button class="btn btn-primary add-user-btn" (click)="addUser()">Add User</button>
    </h3>
    <hr />
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Loop through users and display each one -->
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.phone }}</td>
          <td>
            <button class="btn btn-info me-3" (click)="updateUser(user.id!)">Update</button>
            <button class="btn btn-danger" (click)="deleteUser(user.id!)">
              <i class="fas fa-trash"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Display message if there was an error -->
    <p *ngIf="message">{{ message }}</p>
  </div>
  